

@keyframes slideInFromTopLeft {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
  }


.Aboutus-main-container{
    background-color: rgb(200, 212, 222);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    gap: 50px; 
    margin-top: -100px;
}
.about-left-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-left-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.about-left-botton-right{
    text-align: center;
    padding-left: 20px;
    padding-top: 10%;
    border-radius: 20px;
    font-size: 25px;
    padding-right: 20px;
    color: white;
    background-color: rgb(7, 39, 39);
    font-family: 'Oswald', sans-serif;
}
.about-left-botton-left{
    width: 90%;
    overflow: hidden;
}
.about-left-top{
    width: 40vw;
}
.about-left-top img{
    width: 100%;
}
#certificate-icons{
    font-size: 80px;
}
.about-right-main{
    font-size: 30px;
}
.about-right-main-title{
    font-size: 70px;
    font-weight: bold;
}
.about-right-main-title-in{
    display: flex;
}
#check-icons{
    font-size: 45px;
}

#about-left-main{
    animation: slideInFromTopLeft 0.9s ease-in-out;
}