.team-top{
    width: 70vw;
    font-size: 35px;
    text-align: center;
    margin-left: 10%;
}
.team-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}
.team-bottom li{
    font-size: 25px;
    width: 22vw;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.team-bottom li img{
    width: 320px;
    height: 300px;
}
.team-box-main{
    padding: 10px;
    height: 100vh;
    height: 110vh;
    margin-top: -7px;
    background-color: orange;
}
.team-bottom li p{
    font-size: 30px;
}
.team-icon-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    margin-left: 30px;
    margin-right: 30px;
}
.team-icon-lists a{
    color: black;
}
.team-icon-lists a:hover{
    color: orangered;
}